body, html {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.roboto {
  font-family: 'Roboto' !important;
}
/* Normal */
@font-face {
  font-family: 'Roboto';
  src: url('../font/roboto/Roboto-Regular.eot');
  src: url('../font/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
       url('../font/roboto/Roboto-Regular.svg#Roboto') format('svg'),
       url('../font/roboto/Roboto-Regular.ttf') format('truetype'),
       url('../font/roboto/Roboto-Regular.woff2') format('woff2'),
       url('../font/roboto/Roboto-Regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Italic */
@font-face {
  font-family: 'Roboto';
  src: url('../font/roboto/Roboto-Italic.eot');
  src: url('../font/roboto/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
       url('../font/roboto/Roboto-Italic.svg#Roboto') format('svg'),
       url('../font/roboto/Roboto-Italic.ttf') format('truetype'),
       url('../font/roboto/Roboto-Italic.woff2') format('woff2'),
       url('../font/roboto/Roboto-Italic.woff') format('woff');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Bold */
@font-face {
  font-family: 'Roboto';
  src: url('../font/roboto/Roboto-Bold.eot');
  src: url('../font/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
       url('../font/roboto/Roboto-Bold.svg#Roboto') format('svg'),
       url('../font/roboto/Roboto-Bold.ttf') format('truetype'),
       url('../font/roboto/Roboto-Bold.woff2') format('woff2'),
       url('../font/roboto/Roboto-Bold.woff') format('woff');
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

/* Bold + Italic */
@font-face {
  font-family: 'Roboto';
  src: url('../font/roboto/Roboto-BoldItalic.eot');
  src: url('../font/roboto/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../font/roboto/Roboto-BoldItalic.svg#Roboto') format('svg'),
       url('../font/roboto/Roboto-BoldItalic.ttf') format('truetype'),
       url('../font/roboto/Roboto-BoldItalic.woff2') format('woff2'),
       url('../font/roboto/Roboto-BoldItalic.woff') format('woff');
  font-style: italic;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}