/*********************
 * Global styles.
 *********************/
/**
 * Marging and Padding.
 */
* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  margin: 0;
  /* position: relative; */
  /* font-size: 1rem; */
  color: rgba(71, 77, 77);
}
/* h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto' !important;
}
p, div {
  font-family: 'Roboto' !important;
} */

/**
 * Alignment.
 */
.valign-center-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /* -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.valign-halign-center-flex {
  min-height: 100%; /* Fallback for vh unit */
  min-height: 100vh; /* You might also want to use 'height' property instead.
                        For % values of 'height' or 'min-height', the 'height' of the parent element should be specified explicitly.
                        In this case the parent of '.vertical-center' is the <body> element */
  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* Align the bootstrap's container vertically */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* In legacy web browsers such as Firefox 9 we need to specify the width of the flex container */
  width: 100%;
  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.
     Therefore, following declarations are to get it centered again */
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.valign-center-container {
  /* height: 100%; */
  position: relative;
}
.valign-center-content {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/**
 * Display.
 */
.d-inherit {
  display: inherit !important;
}
/* .d-flex {
  display: flex !important;
} */
.d-flexbox {
  display: flexbox !important;
}
.d-grid {
  display: -ms-grid !important;
  display: grid !important;
}
/* .d-inline {
  display: inline !important;
}
.d-inline-block {
  display: inline-block !important;
}
.d-inline-flex {
  display: -ms-inline-flexbox !important;
  display: -webkit-inline-flex !important;
  display: inline-flex !important;
} */
.d-inline-flexbox {
  display: -ms-inline-flexbox !important;
  display: -webkit-inline-flex !important;
  display: inline-flexbox !important;
}

/**
 * Cursor.
 */
.cursor-alias {
  cursor: alias;
}
.cursor-all-scroll {
  cursor: all-scroll;
}
.cursor-auto {
  cursor: auto;
}
.cursor-cell {
  cursor: cell;
}
.cursor-context-menu {
  cursor: context-menu;
}
.cursor-col-resize {
  cursor: col-resize;
}
.cursor-copy {
  cursor: copy;
}
.cursor-crosshair {
  cursor: crosshair;
}
.cursor-default {
  cursor: default;
}
.cursor-e-resize {
  cursor: e-resize;
}
.cursor-ew-resize {
  cursor: ew-resize;
}
.cursor-grab {
  cursor: -webkit-grab;
  cursor: grab;
}
.cursor-grabbing {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.cursor-help {
  cursor: help;
}
.cursor-move {
  cursor: move;
}
.cursor-n-resize {
  cursor: n-resize;
}
.cursor-ne-resize {
  cursor: ne-resize;
}
.cursor-nesw-resize {
  cursor: nesw-resize;
}
.cursor-ns-resize {
  cursor: ns-resize;
}
.cursor-nw-resize {
  cursor: nw-resize;
}
.cursor-nwse-resize {
  cursor: nwse-resize;
}
.cursor-no-drop {
  cursor: no-drop;
}
.cursor-none {
  cursor: none;
}
.cursor-not-allowed {
  cursor: not-allowed;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-progress {
  cursor: progress;
}
.cursor-row-resize {
  cursor: row-resize;
}
.cursor-s-resize {
  cursor: s-resize;
}
.cursor-se-resize {
  cursor: se-resize;
}
.cursor-sw-resize {
  cursor: sw-resize;
}
.cursor-text {
  cursor: text;
}
.cursor-w-resize {
  cursor: w-resize;
}
.cursor-wait {
  cursor: wait;
}
.cursor-zoom-in {
  cursor: zoom-in;
}
.cursor-zoom-out {
  cursor: zoom-out;
}
/*********************
 * End Global styles.
 *********************/

/*********************
 * Font styles.
 *********************/
.font-color {
  color: rgba(71, 77, 77);
}
/*********************
 * End Font styles.
 *********************/

/*********************
 * Table styles.
 *********************/
/* .table tr.no-border-bottom, .table td.no-border-top, .table th.no-border-top {
  border-top: none;
  background-color: red;
}
.table tr.no-border-bottom .table td.no-border-bottom, .table th.no-border-bottom {
  border-bottom: none;
  background-color: green;
} */
tr.tr-thin td {
  padding-top: 2px;
  padding-bottom: 2px;
}
/*********************
 * End Table styles.
 *********************/

/*********************
 * NavBar styles.
 *********************/
.navbar {
  background: #ee6e73;
}
/*********************
 * End NavBar styles.
 *********************/

/*********************
 * Modal styles.
 *********************/
/* .modal-content {
  background-color: transparent;
}
.modal-footer {
  background-color: #fff;
} */
.modal-open {
  cursor: zoom-out;
}
/*********************
 * End Modal styles.
 *********************/

/*********************
 * Section styles.
 *********************/
.section, .section-subview, .section-nav {
  width: 100%;
  /* height: 100%; */
  margin-right: auto;
  margin-left: auto;
}
.section-nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section-subview {
  height: 100%;
}
.container-fluid.fss-subview {
  padding: 0;
}
div.fss-mainview, div.fss-subview-item {
  overflow: auto;
}
/*.section1 {
  background-color: #30d5c7;
  /* [image] [position] / [size] [repeat] [attachment] [origin] [clip] [color] */
/* background: url('../img/section1a.jpg') center center / cover no-repeat;
}
.section2 {
  background-color: #2abaae;
}
.section3 {
  background-color: #1c7b73;
}
.section4 {
  background-color: #ff9999;
}
.section41 {
  background-color: #2abaae;
}
.section42 {
  background-color: #0eab91;
}
/*********************
 * End Section styles.
 *********************/

/*********************
 * Image styles.
 *********************/
.passport-photo {
  width: 70%;
  /* width: min(100px, 25%, 50vh, 30ch); */
}
div.carousel-item img {
  height: 55vmin;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  /* height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black; */
  background-image: none;
  font-size: 2.5rem;
  color: #ee6e73;
}
.carousel-control-next-icon:after {
  content: '>';
}
.carousel-control-prev-icon:after {
  content: '<';
}

/*********************
 * End Image styles.
 *********************/

/*********************
/*!
 * Media Query Classes
 * For responsive objects and text
 *
 *********************/
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 1rem;
  }
  h6 {
    font-size: 0.8rem;
  }
  p {
    font-size: 0.6rem;
  }
  .table tr, .table td, .table th {
    font-size: 0.6rem;
  }
  span.navbar-brand {
    font-size: 1rem;
  }
  .nav-item {
    font-size: 0.8rem;
  }
  .badge {
    font-size: 0.6rem;
  }
  div[fss-anchor^="section"] .badge {
    width: 7.6rem;
    height: 1.6rem;
  }
  .material-icons {
    font-size: 0.8rem;
  }
  .tr-thick {
    font-size: 1rem;
  }
  .tr-medium {
    font-size: 0.8rem;
  }
  .tr-thin {
    font-size: 0.65rem;
    padding-left: 2px;
  }
  .tr-thin td, .tr-thin th {
    padding: 2px;
    vertical-align: middle;
  }
  .full-screen-scroller .fss-dotted-scrollspy {
    right:.05%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
  h1 {
    font-size: 1.84rem;
  }
  h2 {
    font-size: 1.73rem;
  }
  h3 {
    font-size: 1.61rem;
  }
  h4 {
    font-size: 1.38rem;
  }
  h5 {
    font-size: 1.15rem;
  }
  h6 {
    font-size: 0.92rem;
  }
  p {
    font-size: 0.75rem;
  }
  .table tr, .table td, .table th {
    font-size: 0.75rem;
  }
  span.navbar-brand {
    font-size: 1.1rem;
  }
  .nav-item {
    font-size: 0.8rem;
  }
  .badge {
    font-size: 0.85rem;
  }
  div[fss-anchor^="section"] .badge {
    width: 11rem;
    height: 2rem;
  }
  .material-icons {
    font-size: 0.92rem;
  }
  .tr-thick {
    font-size: 1.15rem;
  }
  .tr-medium {
    font-size: 0.92rem;
  }
  .tr-thin {
    font-size: 0.75rem;
  }
  .section, .section-nav, .section-subview {
    width: 95%;
  }
  .tr-thin td, .tr-thin th {
    padding: 3px;
    vertical-align: middle;
  }
  tr th.section-header {
    padding: 3px;
  }
  .full-screen-scroller .fss-dotted-scrollspy {
    right:1%;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1200px) {
  h1 {
    font-size: 2.21rem;
  }
  h2 {
    font-size: 2.07rem;
  }
  h3 {
    font-size: 1.93rem;
  }
  h4 {
    font-size: 1.66rem;
  }
  h5 {
    font-size: 1.38rem;
  }
  h6 {
    font-size: 1.1rem;
  }
  p {
    font-size: 0.9rem;
  }
  .table tr, .table td, .table th {
    font-size: 0.9rem;
  }
  span.navbar-brand {
    font-size: 1.2rem;
  }
  .nav-item {
    font-size: 0.9rem;
  }
  .badge {
    font-size: 0.95rem;
  }
  div[fss-anchor^="section"] .badge {
    width: 12.3rem;
    height: 2.2rem;
  }
  .material-icons {
    font-size: 1.1rem;
  }
  .tr-thick {
    font-size: 1.38rem;
  }
  .tr-medium {
    font-size: 1.1rem;
  }
  .tr-thin {
    font-size: 0.9rem;
  }
  .tr-thin td, .tr-thin th {
    padding: 4px;
    vertical-align: middle;
  }
  .section, .section-nav, .section-subview {
    width: 90%;
  }
  tr th.section-header {
    padding: 4px;
  }
  .full-screen-scroller .fss-dotted-scrollspy {
    right: 1.5%;
  }
}

@media only screen and (min-width: 1201px) {
  h1 {
    font-size: 2.46rem;
  }
  h2 {
    font-size: 2.31rem;
  }
  h3 {
    font-size: 2.16rem;
  }
  h4 {
    font-size: 1.85rem;
  }
  h5 {
    font-size: 1.54rem;
  }
  h6 {
    font-size: 1.23rem;
  }
  p {
    font-size: 1rem;
  }
  .table tr, .table td, .table th {
    font-size: 1rem;
  }
  span.navbar-brand {
    font-size: 2rem;
  }
  .badge {
    font-size: 1rem;
  }
  div[fss-anchor^="section"] .badge {
    width: 13rem;
    height: 2.5rem;
  }
  .material-icons {
    font-size: 1.23rem;
  }
  .tr-thick {
    font-size: 1.54rem;
  }
  .tr-medium {
    font-size: 1.23rem;
  }
  .tr-thin {
    font-size: 1rem;
  }
  .tr-thin td, .tr-thin th {
    padding: 5px;
    vertical-align: middle;
  }
  .section, .section-nav, .section-subview {
    width: 85%;
  }
  tr th.section-header {
    padding: 5px;
  }
  .full-screen-scroller .fss-dotted-scrollspy {
    right: 2%;
  }
}
