@charset "ISO-8859-1";

/*!
 * Custom Styles (not included in materialize.css)
 * No Copyright
 * No License
 */

html, body, .block {
  height: 100%;
}

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /* font-family: 'Roboto'; */
  /* color: rgba(71,77,77,1); */
  /* color: #474d4d; */
  /* color: #fff; */
  color: #313535;
}

.navbar-fixed {
	height: unset;
}

nav ul li a:hover, nav ul li a.active, ul.sidenav li:active {
	background-color: #ea454b;
}

nav .sidenav-trigger i, .sidenav li a {
	cursor: pointer;
}

.section {
	text-align:center;
}

.slide a {
  cursor: pointer;
}

/* #section0 {
	background-image: linear-gradient(128deg,#40afff,#3f61ff);
	background-image: linear-gradient(128deg,#e8f1fd,#8abaf5);
}

#section1 {
	background-image: linear-gradient(128deg,#ff9a3f,#ff4b40);
	background-image: linear-gradient(128deg,#fefecd,#fdfd96);
}

#section2 {
	background-image: linear-gradient(128deg,#fc40ff,#543fff);
	background-image: linear-gradient(128deg,#d6f5d6,#77dd77);
}

#section3 {
	background-image: linear-gradient(128deg,#40fff2,#3fbcff);
	background-image: linear-gradient(128deg,#fee9e6,#fa5f49);
} */

.vertical-align {
  /*position: absolute;*/
  width: 100%;
  height: 100%;
  /*top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);*/
}

tr.tr-thick td {
  padding-top: 10px;
  padding-bottom: 10px;
  /*background-color: red;*/
}

tr.tr-medium td {
  padding-top: 5px;
  padding-bottom: 5px;
  /*background-color: orange;*/
}

tr.tr-thin td {
  padding-top: 2px;
  padding-bottom: 2px;
  /*background-color: lightblue;*/
}

.carousel {
  padding: 2px;
  height:  280px;
}

.carousel .indicators .indicator-item {
  background-color: #e0e0e0;
  padding:          7px;
  margin-bottom:    0px;
}

.carousel .indicators .indicator-item.active {
  background-color: #424242;
}

.carousel-item img {
  max-height: 200px;
  max-width:  200px !important;
}

.carousel-item {
  cursor: zoom-in;
}

button:focus {
	background-color: unset;
}

.my-arrow {
	cursor: pointer;
	position: absolute;
	top: 50%;
	margin-top: -45px;
	width: 70px;
	height: 90px;
	z-index: 99;
	-webkit-appearance: none;
  appearance: none;
	background: 0 0;
	border: 0;
	outline: 0;
}

.my-arrow.left {
	left: 35px;
}

.my-arrow.right {
	right: 35px;
}

.my-arrow svg {
	padding: 5px;
}

.my-arrow.left:focus polyline, .my-arrow.left:hover polyline,
.my-arrow.right:focus polyline, .my-arrow.right:hover polyline {
  stroke-width:6;
}

.my-arrow.left:active polyline, .my-arrow.right:active polyline {
  stroke-width:10;transition:all .1s ease-in-out;
}

polyline {
  transition:all 250ms ease-in-out;
	stroke-width: 3;
}

/*********************
/*!
 * Media Query Classes
 * For responsive objects and text
 *
 *********************/
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 1.0rem;
  }
  h6 {
    font-size: 0.8rem;
  }
  p {
    font-size: 0.65rem;
  }
  span.brand-logo {
    font-size: 1.3rem;
  }
  .card-title {
    font-size: 0.6rem;
  }
  .material-icons {
    font-size: 0.8rem;
  }
  /* #divPersonal .chip { */
  div[id^="section"] .chip {
    width: 134px;
  }
  .tr-thick {
    font-size: 1rem;
  }
  .tr-medium {
    font-size: 0.8rem;
  }
  .tr-thin {
    font-size: 0.65rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
  h1 {
    font-size: 1.84rem;
  }
  h2 {
    font-size: 1.73rem;
  }
  h3 {
    font-size: 1.61rem;
  }
  h4 {
    font-size: 1.38rem;
  }
  h5 {
    font-size: 1.15rem;
  }
  h6 {
    font-size: 0.92rem;
  }
  p {
    font-size: 0.75rem;
  }
  span.brand-logo {
    font-size: 1.5rem;
  }
  .card-title {
    font-size: 0.75rem;
  }
  .material-icons {
    font-size: 0.92rem;
  }
  /* #section .chip { */
  div[id^="section"] .chip {
    width: 165px;
  }
  .tr-thick {
    font-size: 1.15rem;
  }
  .tr-medium {
    font-size: 0.92rem;
  }
  .tr-thin {
    font-size: 0.75rem;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1200px) {
  h1 {
    font-size: 2.21rem;
  }
  h2 {
    font-size: 2.07rem;
  }
  h3 {
    font-size: 1.93rem;
  }
  h4 {
    font-size: 1.66rem;
  }
  h5 {
    font-size: 1.38rem;
  }
  h6 {
    font-size: 1.1rem;
  }
  p {
    font-size: 0.9rem;
  }
  span.brand-logo {
    font-size: 1.79rem;
  }
  .card-title {
    font-size: 0.9rem;
  }
  .material-icons {
    font-size: 1.1rem;
  }
  /* #section .chip { */
  div[id^="section"] .chip {
    width: 190px;
  }
  .tr-thick {
    font-size: 1.38rem;
  }
  .tr-medium {
    font-size: 1.1rem;
  }
  .tr-thin {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 1201px) {
  h1 {
    font-size: 2.46rem;
  }
  h2 {
    font-size: 2.31rem;
  }
  h3 {
    font-size: 2.16rem;
  }
  h4 {
    font-size: 1.85rem;
  }
  h5 {
    font-size: 1.54rem;
  }
  h6 {
    font-size: 1.23rem;
  }
  p {
    font-size: 1rem;
  }
  span.brand-logo {
    font-size: 2rem;
  }
  .card-title {
    font-size: 1rem;
  }
  .material-icons {
    font-size: 1.23rem;
  }
  /* #section .chip { */
  div[id^="section"] .chip {
    width: 210px;
  }
  .tr-thick {
    font-size: 1.54rem;
  }
  .tr-medium {
    font-size: 1.23rem;
  }
  .tr-thin {
    font-size: 1rem;
  }
}
